<a href="https://colab.research.google.com/github/joepaul13/Runtime-Terror/blob/main/CreditCard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#Loading the file into a Pandas DataFrame
credit_card = pd.read_csv('creditcard.csv')

In [33]:
credit_card.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [4]:
#Checking no. of missing values in each column
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [36]:
credit_card['Amount'].fillna(credit_card['Amount'].median(), inplace=True)
credit_card['Class'].fillna(credit_card['Class'].median(), inplace=True)

In [37]:
credit_card['Class'].value_counts()

0.0    21792
1.0       86
Name: Class, dtype: int64

Here, 0 corresponds to a legitimate transaction, and 1 corresponds to a fraudulent transaction.

In [38]:
#Separating the data
legit = credit_card[credit_card.Class == 0]
fraud = credit_card[credit_card.Class == 1]

In [39]:
#The dimensions of the 2 arrays
print(legit.shape)
print(fraud.shape)

(21792, 31)
(86, 31)

In [40]:
legit.Amount.describe()

count    21792.000000
mean        71.634916
std        204.785778
min          0.000000
25%          5.990000
50%         17.495000
75%         62.110000
max       7879.420000
Name: Amount, dtype: float64

In [41]:
fraud.Amount.describe()

count      86.000000
mean       93.996860
std       260.195133
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [42]:
#Comparing the values for both transactions
credit_card.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    16921.635784 -0.207314  0.197332  ...  0.008603  0.005937  71.634916
1.0    17592.162791 -8.792044  6.504115  ...  0.867258  0.096510  93.996860

[2 rows x 30 columns]

In [43]:
#Since dimensions are unequal, we take a random sample of legitimate transactions for comparison
legit_sample = legit.sample(n=86)

In [44]:
new = pd.concat([legit_sample, fraud], axis=0)

In [45]:
new.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
17592  28818 -2.181281  3.422398 -6.628457  ...  1.348460  0.330177   89.99    0.0
5967    6627 -1.825028  0.020712  0.836860  ...  0.313806 -0.329492   39.52    0.0
15375  26759 -0.517229  0.925272  1.638532  ...  0.276214  0.108870    1.88    0.0
338      248 -0.216867  0.900896  1.502850  ...  0.108635  0.052981   10.00    0.0
6079    6915 -0.635633  1.521837  0.656768  ...  0.286487  0.142654    5.00    0.0

[5 rows x 31 columns]

In [46]:
new['Class'].value_counts()

1.0    86
0.0    86
Name: Class, dtype: int64

In [47]:
new.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    16130.639535 -0.366637  0.318302  ...  0.080232  0.012136  67.016977
1.0    17592.162791 -8.792044  6.504115  ...  0.867258  0.096510  93.996860

[2 rows x 30 columns]

In [48]:
#Splitting the data into features and targets
X = new.drop(columns='Class', axis=1)
Y = new['Class']

In [49]:
print(X)

        Time        V1        V2  ...       V27       V28  Amount
17592  28818 -2.181281  3.422398  ...  1.348460  0.330177   89.99
5967    6627 -1.825028  0.020712  ...  0.313806 -0.329492   39.52
15375  26759 -0.517229  0.925272  ...  0.276214  0.108870    1.88
338      248 -0.216867  0.900896  ...  0.108635  0.052981   10.00
6079    6915 -0.635633  1.521837  ...  0.286487  0.142654    5.00
...      ...       ...       ...  ...       ...       ...     ...
18466  29526  1.102804  2.829168  ...  0.009146  0.153318    0.68
18472  29531 -1.060676  2.608579  ... -0.130918  0.192177    0.68
18773  29753  0.269614  3.549755  ...  0.553255  0.402400    0.68
18809  29785  0.923764  0.344048  ...  0.489035 -0.049729   30.30
20198  30852 -2.830984  0.885657  ... -2.532445  0.311177  104.81

[172 rows x 30 columns]

In [50]:
print(Y)

17592    0.0
5967     0.0
15375    0.0
338      0.0
6079     0.0
        ...
18466    1.0
18472    1.0
18773    1.0
18809    1.0
20198    1.0
Name: Class, Length: 172, dtype: float64

In [51]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [52]:
print(X.shape, X_train.shape, X_test.shape)

(172, 30) (137, 30) (35, 30)

**Applying Logistic Regression**

In [53]:
model = LogisticRegression()

In [54]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [55]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [56]:
print('The Accuracy of the Training Data is:', training_data_accuracy)

The Accuracy of the Training Data is: 0.9635036496350365

In [57]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [58]:
print('The Accuracy of the Test Data is:', test_data_accuracy)

The Accuracy of the Test Data is: 0.9428571428571428